h1
{
	color: rgb(7, 7, 7); 
	font-size: 40px;
}
.bodyBackground {
	background-image: url("https://img.elo7.com.br/product/zoom/25F63C3/papel-de-parede-infantil-teen-lapis-de-cor-quarto-n4253-papel-de-parede-autocolante.jpg");
	background-position: center;
	background-size: cover;
}

 #myCanvas{
	border: 10px ridge rgb(238, 255, 0);
	background-color: aliceblue;
}